<ion-view title="Profile page" id="page5">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.profileEditor" id="profilePage-button2" class="button button-royal button-small button-block button-outline">Edit this profile</a>
        <h1 id="profilePage-heading2" style="color:#000000;">Name</h1>
        <div id="profilePage-markdown4" style="color:#BCBCBC;">
            <p>Location</p>
        </div>
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <div id="profilePage-markdown2" style="color:#000000;">
            <p>Bio</p>
        </div>
        <button id="profilePage-button1" class="button button-positive  button-block">Visit website</button>
        <div class="spacer" style="width: 285px; height: 42px;"></div>
        <div id="profilePage-markdown3" style="color:#000000;">
            <p>User's Kweets</p>
        </div>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>